/* .rootTable {
  width: '100%',
}
.paperTable {
  marginTop: theme.spacing(3),
  width: '100%',
  overflowX: 'auto',
  marginBottom: theme.spacing(2),
}
.table {
  minWidth: 650,
} */


@media only screen /*Mobile Larger */ and (min-width: 640px) and (max-width: 900px) {

}

@media only screen /*Desktop */ and (min-width: 1000px) {

}
