.header {
  text-align: center;
  color: white;
  padding: 30px 0px 30px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: solid rgba(10, 8, 116, 0.453) 3px;
  margin-bottom: 15px;
}

.nav a {
  text-decoration: none;
  color: white;
}

.nav {
  align-self: flex-start;
  margin-left: 25px;
}

.footer {
  height: 60px;
}

@media only screen /*Mobile Larger */ and (min-width: 640px) and (max-width: 900px) {
}

@media only screen /*Desktop */ and (min-width: 1000px) {
}
