.playerHeadshotStats{
  height:300px;
  margin: auto;
}

.playerCard{
  display: flex;
  flex-direction: column;
}

.playerName{
  text-align: center;
  padding-top: 15px;
}

.playerPosition{
  text-align: center;
}

.playerInfo{
  text-align: center;
}


@media only screen /*Mobile Larger */ and (min-width: 640px) and (max-width: 900px) {
  .playerCard{
    flex-direction: row;
  }
}

@media only screen /*Desktop */ and (min-width: 1000px) {
  .playerCard{
    flex-direction: row;
  }
}
