.playerHeadshotImg {
  margin: auto;
  border: 3px solid #00297a;
  border-radius: 10px;
}

.playerContainer {
  margin: 35px;
}

.playerPicData {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.playerName {
  text-align: center;
  padding-top: 15px;
  color: #00297a;
}

.playerBio {
  margin-top: 20px;
}

.playerPosition {
  text-align: center;
  color: rgba(0, 0, 0, 0.611);
  margin-bottom: 15px !important;
}

.playerInfo,
.noStats {
  text-align: center;
  color: rgba(0, 0, 0, 0.611);
}
.teamLogoContainer {
  display: none;
}

.headShotContainer {
  display: flex;
}

@media only screen /*Mobile Larger */ and (min-width: 640px) and (max-width: 996px) {
  .playerContainer {
    width: 80%;
    margin: auto;
  }
  .playerPicData {
    flex-direction: row;
    margin-bottom: 50px;
    justify-content: center;
  }
  .playerBio {
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin-left: 20px; */
  }
  .playerInfo {
    margin-left: 20px !important;
  }
  .teamLogoContainer {
    display: flex;
    align-items: center;
    width: 27%;
    justify-content: center;
  }
  .teamLogoContainer img {
    height: 180px;
  }
  .headShotContainer {
    display: flex;
    width: 33%;
  }
}

@media only screen /*Desktop */ and (min-width: 1000px) {
  .playerContainer {
    width: 80%;
    margin: auto;
  }

  .playerPicData {
    flex-direction: row;
    margin-bottom: 50px;
    justify-content: center;
  }

  .playerBio {
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .playerInfo {
    margin-left: 20px !important;
  }
  .teamLogoContainer {
    display: flex;
    align-items: center;
    width: 33%;
    justify-content: center;
  }
  .teamLogoContainer img {
    height: 180px;
  }
  .headShotContainer {
    display: flex;
    width: 33%;
  }
}
