.App {
  text-align: center;
  /* background: #00297a; */
}

body {
  background: -webkit-gradient(linear, 0 100%, 0 0, from(#546b90), to(#00297a))
    no-repeat;
  min-height: -webkit-fill-available;
}

/* #root {
  background: -webkit-gradient(linear, 0 100%, 0 0, from(#546b90), to(#00297a))
    no-repeat;
    height: 100vh;
} */

a {
  text-decoration: none;
}
