.singlePlayer {
  width: 50%;
  margin: auto;
  text-decoration: none;
}

.playerHeadshot {
  margin-right: auto;
  margin-left: auto;
  display: block;
  padding: 10px;
  height: 150px;
}

.teamName {
  text-align: center;
}

@media only screen /*Mobile Larger */ and (min-width: 640px) and (max-width: 1000px) {
  .singlePlayer {
    width: 25%;
  }
}

@media only screen /*Desktop */ and (min-width: 1000px) {
  .singlePlayer {
    width: 20%;
  }
}
